@import "libs/bootstrap-reboot";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700;900&display=swap");
@import "./base/variables";
@import "./base/mixins";
@import "./base/animation";

* {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

@import "./blocks/promo";
@import "./blocks/titles";
@import "./blocks/buttons";
@import "./blocks/sidepanel";
@import "./blocks/menu";
@import "./blocks/about-me";
@import "./blocks/resume";
@import "./blocks/skills";
@import "./blocks/my-works";
@import "./blocks/price";
@import "./blocks/contact";
@import "./blocks/page-policy";
@import "./blocks/scroll";
@import "./blocks/media-main";

.form-thanks {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    height: auto;
    width: auto;
    background-color: rgba(#000, 0.7);
    .thanks {
        font-size: 16px;
        line-height: 50px;
        color: #fff;
        text-align: center;
        padding: 5px 10px;
    }
}
