.my-works {
  padding-top: 120px;
  &__top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    position: relative;
    @include before_circle;
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__title {
    margin-top: 5px;
  }
  &__div-hr {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin-top: 25px;
  }

  &__bottom-block {
    min-height: 565px;
    margin-top: 55px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(2, 280px);
    grid-auto-rows: 280px;
    column-gap: 5px;
    row-gap: 5px;
    #vertical {
      grid-row: span 2;
    }
    #horizonal {
      grid-column: span 2;
    }
  }
  &__bb-item {
    transition: ease-in-out 0.3s all;
    z-index: 2;
    &:hover {
      transform: scale(1.025);
      border: solid 1px black;
      box-shadow: 0px 0px 15px 5px $font-color;
      z-index: 3;
      filter: contrast(115%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
