.price {
  padding-top: 120px;
  min-height: 300px;
  &__top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    position: relative;
    @include before_circle;
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__div-hr {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin-top: 25px;
  }
  &__bottom-block {
    margin-top: 55px;
    padding-left: 75px;
    padding-right: 75px;
    display: grid;
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: repeat(3, minmax(35px, auto));
    row-gap: 20px;
    grid-auto-rows: minmax(50px, auto);
    justify-content: space-between;
  }
  &__item {
    display: grid;
    grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
    row-gap: 8px;
  }
  &__item-title {
    position: relative;
    @include before_circle_15px;
    &:before {
      transform: translate(-25px, 8px);
    }
  }
  &__item-cost {
    justify-self: right;
  }
  &__item-text {
    cursor: default;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    grid-column: 1/3;
  }
}
