.sidepanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 380px;
  position: fixed;
  top: 210px;
  left: 50px;
  z-index: 3;
  .social {
    width: 25px;
    height: 25px;
  }
  a {
    text-decoration-line: none;
    transform: rotate(90deg);
    svg {
      height: 25px;
      width: 25px;
      path {
        transition: 0.1s all;
      }
    }
    &:nth-child(2) {
      transform: rotate(0deg);
    }
    &:hover {
      svg {
        path {
          fill: $main-color;
        }
      }
    }
  }

  &__line {
    width: 2px;
    height: 70px;
    background-color: #000;
  }
  &__descr {
    width: 25px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    cursor: default;
  }
}
